img {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  object-fit: contain;
}
body {
  background-image: url(https://plus.unsplash.com/premium_photo-1669750817438-3f7f3112de8d?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  background-color: black;
  color: white;
  height: 700px;
  width: 700%;
  border-radius: 30;
}
#navbar {
  background-color: black;
  position: sticky;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 20px 30px;
  font: size 20px;
}
#right {
  display: flex;
  gap: 20px;
  align-items: center;
}
#right > a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
#right > a:hover {
  color: cornflowerblue;
  text-decoration: underline;
}
#right > button > a {
  color: blue;
  text-decoration: none;
  background-color: green;
  font-size: 18px;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#box {
  background-color: blueviolet;
  padding: 40px 20px;
  border: 2px solid rgb(32, 6, 6);
  margin: 40px;
  font-style: italic;
  text-decoration: underline overline dotted;
  text-align: left;
  letter-spacing: 5px;
  line-height: 5px;
}

#box-container {
  background: black;
  padding: 30px;
}
.box1 {
  background-color: red;
  height: 300px;
  width: 300px;
}
.box2 {
  background-color: green;
  height: 300px;
  width: 300px;
  /* display: none; */
  visibility: hidden;
}
.box3 {
  background-color: blue;
  height: 300px;
  width: 300px;
}
#inline > p {
  background-color: royalblue;
  display: inline; /* This will make the element inline*/
}
#block > a {
  background-color: azure;
  color: black;
  display: block; /* This will make the element block*/
}

#inline-block > span {
  background-color: indigo;
  height: 500px;
  width: 400px;
  color: #000;
  display: inline-block;
}

/* p{
  color: red;
  font-size: 20px;
} */
.descendant > p {
  color: red;
}
#texts {
  color: purple;
  font-size: 30px;
}
#texts:hover {
  background-color: rgb(31, 31, 135);
  color: blueviolet;
  width: fit-content;
  text-decoration: underline;
}
h2 :hover {
  background-color: aquamarine;
  color: bisque;
  width: fit-content;
  text-decoration: underline;
}

#flex {
  background-color: aqua;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
#flex > p {
  background-color: rgb(14, 45, 34);
  color: brown;
  height: 100px;
  width: 100px;
}
#position > section {
  height: 100vh;
  width: 100vw;
}
#relative {
  background-color: red;
}
#relative-box {
  background-color: rgb(84, 84, 201);
  height: 100px;
  width: 100px;
}
#fixed {
  background-color: gray;
  position: relative;
}
#fixed-box {
  background-color: rgb(112, 112, 210);
  height: 100px;
  width: 100px;
  position: fixed;
  left: 10px;
  top: 0px;
  z-index: 5;
}
#sticky {
  background-color: brown;
  position: relative;
}
#sticky-box {
  background-color: rgb(3, 3, 20);
  height: 100px;
  width: 100px;
  position: sticky;
  top: 100px;
  z-index: 1;
}
#absolute {
  background-color: indigo;
}
#absolute-box {
  background-color: blue;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 10px;
  top: 0px;
}
#static {
  background-color: white;
}
#static-box {
  background-color: rgb(0, 173, 173);
  height: 100px;
  width: 100px;
}
#contact-list {
  background-color: gold;
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
#sticky-h1 {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  padding: 10px;
  z-index: 2;
}
#a {
  position: relative;
}
#a > h2 {
  position: sticky;
  top: 65px;
  background-color: red;
  padding: 10px;
}
#b {
  position: relative;
}
#b > h2 {
  position: sticky;
  top: 65px;
  background-color: red;
  padding: 10px;
}
#c {
  position: relative;
}
#c > h2 {
  position: sticky;
  top: 65px;
  background-color: red;
  padding: 10px;
}
